name: Build and deploy Python app to Azure Web App - lumenproject

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # Instala as dependências só pra garantir que o requirements.txt está ok
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Gera o ZIP com o código (sem venv, .git, .github etc.)
      - name: Zip artifact for deployment
        run: |
          zip -r release.zip . \
            -x "venv/*" "antenv/*" ".git/*" ".github/*" "__pycache__/*"

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Check artifact
        run: ls -R

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'lumenproject-bngwcwejdgevhjbt'   # nome do seu App Service
          slot-name: 'Production'
          package: release.zip
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_LUMENPROJECT }}
